# Pyton for Data Science Week 2

## The Series Data Structure

The series is one of the core data structures in pandas. You think of it a cross between a list and a dictionary. The items are all stored in an order and there's labels with which you can retrieve them. An easy way to visualize this is two columns of data. The first is the special index, a lot like the dictionary keys. While the second is your actual data. It's important to note that the data column has a label of its own and can be retrieved using the .name attribute. This is different than with dictionaries and is useful when it comes to merging multiple columns of data. And we'll talk about that later on in the course.

As you might expect, you can create a series by passing in a list of values. When you do this, Pandas automatically assigns an index starting with zero and sets the name of the series to None. Let's see an example of this.

First, I'll start off by importing the pandas library as pd, then let's take a look at the series object.

In [23]:
import pandas as pd
pd?

The data can be anything, that's array-like, like a list. So let's give that a try. We'll just make a list of the three of my favorite animals, a tiger, a bear and a moose. We'll see here that the pandas has automatically identified the type of the data being held in the list, in this case we passed in a list of strings and panda set the type to object

In [2]:
animals = ['Tiger','Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

We don't have to use strings. If we passed in a list of whole numbers, for instance, we could see that panda sets the type to n 64. Underneath panda stores series values in a typed array using the Numpy library. This offers significant speed-up when processing data versus traditional python lists.

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

There's some other typing details that exist for performance that are important to know. The most important is how Numpy and thus pandas handle missing data. In Python, we have the none type to indicate a lack of data. But what do we do if we want to have a typed list like we do in the series object?

Underneath, pandas does some type conversion. If we create a list of strings and we have one element, a None type, pandas inserts it as a None and uses the type object for the underlying array.

In [4]:
animals = ['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

If we create a list of numbers, integers or floats, and put in the None type, pandas automatically converts this to a special floating point value designated as NAN, which stands for not a number.

In [5]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

For those who might not have done scientific computing in Python before, this is a pretty important point.

In [6]:
import numpy as np
np.nan == None

False

NAN is not none and when we try the equality test, it's false.

In [7]:
np.nan == None

False

It turns out that you actually can't do an equality test of NAN to itself. When you do, the answer is always false.

In [8]:
np.nan == np.nan

False

You need to use special functions to test for the presence of not a number, such as the Numpy library is NAN.

In [9]:
np.isnan(np.nan)

True

We'll come back to this later in the assignment, but keep in mind when you see NAN, it's meaning is similar to none, but it's a numeric value and it's treated differently for efficiency reasons.

Let's talk more about how pandas' series can be created. While my list of animals might be a common way to create some play data, often you have label data that you want to manipulate. A series can be created from dictionary data.
> Ok, so note that the variable is loaded with a dictionary, then the pandas series is created from the variable - Fitz

In [24]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
          'Sumo':'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

If you do this, the index is automatically assigned to the keys of the dictionary that you provided and not just incrementing integers.

In [25]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

Here's an example using some data from Wikipedia on official national sports. When we create the series, we see that, since it was string data, panda set the data type of the series to object. We set the list of the countries as the value of the series and that the index values can be set to the keys from our dictionary.<br>
So what happens if your list of values in the index object are not aligned with the keys in your dictionary for creating the series? <br>
Well, pandas overrides the automatic creation to favor only and all of the indices values that you provided. So it will ignore it from your dictionary, all keys, which are not in your index, and pandas will add non type or NAN values for any index value you provide, which is not in your dictionary key list. In this example, we pass in a dictionary of four items but only two are preserved in the series object because of the index list. We see that hockey has been added but since it's also in the index list, it has no value associated with it.

In [26]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf','Sumo','Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

Once the series has been created, we can get the index object using the index attribute. You could also separate your index creation from the data by passing in the index as a list explicitly to the series.

In [27]:
s.index

Index(['Golf', 'Sumo', 'Hockey'], dtype='object')

> Not sure why he had this piece of code in the notebook

In [28]:
s = pd.Series(['Tiger','Bear','Moose'], index=['India', 'America','Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

So that's how we create a series. In the next class, we'll dig deeper and look at how we get data out of the series.

## Querying a Series

A panda.Series can be queried, either by the index position or the index label. As we saw, if you don't give an index to the series, the position and the label are effectively the same values.<br>  
Here's an example using national sporting event data from Wikipedia<br>
Let's say we want to have a list of all of the sports in our index and a list of countries as values. You might keep these in a dictionary and create a series as we discussed.

In [29]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

To query by numeric location, starting at zero, use the <b>`iloc`</b> attribute.<br><br>
If you wanted to see the fourth country on this, we would use the <b>`iloc`</b> attribute with the parameter 3.

In [30]:
s.iloc[3]

'South Korea'

To query by the index label, you can use the <b>`loc`</b> attribute.

In [32]:
s[3]

'South Korea'

If you wanted to see which country has golf as its national sport, we would use the <b>`loc`</b> attribute with parameter golf.

In [33]:
s['Golf']

'Scotland'

Keep in mind that <b>`iloc`</b> and <b>`loc`</b> are not methods, they are attributes. <br><br>
So you don't use <b>`()`</b> parentheses to query them, but <b>`[]`</b> square brackets instead, which we'll call the <b>indexing operator</b>. Though in Python, this calls <b>`get`</b> and <b>`set`</b> an item methods depending on the context of its use.<br><br>
This might seem a bit confusing if you're used to languages where encapsulation of attributes, variables, and properties is common, such as in Java. <b>`Pandas`</b> tries to make our code a bit more readable and provides a sort of smart syntax using the <b>indexing operator</b> directly on the series itself. For instance, if you pass in an integer parameter, the operator will behave as if you want it to query via the <b>`iloc`</b> attribute. If you pass in an object, it will query as if you wanted to use the label based <b>`loc`</b>attribute.<br><br>
So what happens if your index is a list of integers?

In [19]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

This is a bit complicated, and Pandas can't determine automatically whether you're intending to query by index position or index label. So you need to be careful when using the <b>indexing operator</b> on the series itself. And the safer option is to be more explicit and use the <b>`iloc`</b> or <b>`loc`</b> attributes directly.<br><br>
Here's an example using some new sports data, where countries are indexed by integer. If we try and call s sub zero, we get a key error, because there's no item in the sports list with an index of zero.

In [20]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

Instead we have to call <b>`iloc`</b> explicitly if we want the first item.

In [ ]:
s.iloc[0]

Okay, so now we know how to get data out of the series. Let's talk about working with the data.<br><br>
A common task is to want to consider all of the values inside of a series and want to do some sort of operation. This could be trying to find a certain number, summarizing data or transforming the data in some way.<br><br>
A typical programmatic approach to this would be to iterate over all the items in the series, and invoke the operation one is interested in. For instance, we could create a data frame of floating point values.

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

Let's think of these as prices for different products. We could write a little routine which iterates over all of the items in the series and adds them together to get a total.

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

This works, but it's slow. Modern computers can do many tasks simultaneously, especially, but not only, tasks involving mathematics.<br><br>
Pandas and the underlying <b>`NumPy`</b> libraries support a method of computation called <b>vectorization</b>.<br><br>
Vectorization works with most of the functions in the <b>`NumPy`</b> library, including the <b>`sum`</b> function.<br><br>
Here's how we would really write the code using the <b>`NumPy`</b> <b>`sum`</b> method. First we need to import the <b>`numpy`</b> module, and then we just call <b>`np.sum`</b> and pass in an <b>iterable item</b>. In this case, our <b>`pandas`</b> <b>`series`</b>.

In [ ]:
import numpy as np

total = np.sum(s)
print(total)

Now both of these methods create the same value, but is one actually faster? The Jupyter Notebook has a <b>magic function</b> which can help.<br> First, let's create a big series of random numbers. You'll see this used a lot when demonstrating techniques with <b>`Pandas`</b>. Note that I've just used the <b>`head`</b> method, which reduces the amount of data printed out by the series to the first five elements.

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

We can actually verify that length of the series is correct using the <b>`len`</b> function. <b>Magic functions</b> begin with a <b>`%`</b> percentage sign. If we type this sign and then hit the Tab key, we can see a list of the available magic functions. You could write your own magic functions too, but that's a little bit outside of the scope of this course. We're actually going to use what's called a <b>cellular magic function</b>. These start with two <b>`%%`</b> percentage signs and modify a <b>raptor code</b> in the current Jupyter cell. The function we're going to use is called <b>`timeit`</b>

In [ ]:
s.iloc(max(s))

. And as you may have guessed from the name, this function will run our code a few times to determine, on average, how long it takes.<br><br>
Let's run timeit with our original iterative code. You can give timeit the number of loops that you would like to run. By default, we'll use 1,000 loops. I'll ask timeit here to use 100 runs because we're recording this.

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

Not bad. Timeit ran this code and it doesn't seem like it takes very long at all. Now let's try with <b>vectorization</b>.<br><br>

In [ ]:
%%timeit -n 100
summary = np.sum(s)

Wow! This is a pretty shocking difference in the speed and demonstrates why data scientists need to be aware of parallel computing features and start thinking in <b>functional programming</b> terms.

The procedural way of doing this would be to iterate through all of the items in the series and increase the values directly. A quick aside here. Pandas does support iterating through a series much like a dictionary, allowing you to unpack values easily. But if you find yourself iterating through a series, you should question whether you're doing things in the best possible way.

Here's how we would do this using the series <b>`set_value`</b> method.

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

Let's try and time the two approaches.

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label] = value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

Amazing. Not only is it significantly faster, but it's more concise and maybe even easier to read too. The typical mathematical operations you would expect are <b>vectorized</b>, and the <b>`NumPy`</b> documentation outlines what it takes to create <b>vectorized functions</b> of your own. <br><br>
    One last note on using the indexing operators to access series data. The <b>`.loc`</b> attribute lets you not only modify data in place, but also add new data as well. If the value you pass in as the index doesn't exist, then a new entry is added. And keep in mind, indices can have mixed types. While it's important to be aware of the typing going on underneath, <b>`Pandas`</b> will automatically change the underlying <b>`NumPy`</b> types as appropriate.

Here's an example using a series of a few numbers. We could add some new value, maybe an animal, as you know, I like bears. Just by calling the .loc indexing operator. We see that mixed types for data values or index labels are no problem for <b>`Pandas`</b>.

In [ ]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bears'
s

Up until now I've shown only examples of a series where the index values were unique. I want to end this lecture by showing an example where index values are not unique, and this makes data frames different, conceptually, that a relational database might be.

Revisiting the issue of countries and their national sports, it turns out that many countries seem to like this game cricket. We go back to our original series on sports. It's possible to create a new series object with multiple entries for cricket, and then use append to bring these together. There are a couple of important considerations when using append. First, Pandas is going to take your series and try to infer the best data types to use. In this example, everything is a string, so there's no problems here.

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])

Second, the append method doesn't actually change the underlying series. It instead returns a new series which is made up of the two appended together. We can see this by going back and printing the original series of values and seeing that they haven't changed.

In [ ]:
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

This is actually a significant issue for new Pandas users who are used to objects being changed in place. So watch out for it, not just with append but with other Pandas functions as well.

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

Finally, we see that when we query the appended series for those who have cricket as their national sport, we don't get a single value, but a series itself. This is actually very common, and if you have a relational database background, this is very similar to every table query resulting in a return set which itself is a table.

In [ ]:
all_countries.loc['Cricket']

In this lecture, we focused on one of the primary data types of the <b>`Pandas`</b> library, the <b>series</b>. There are many more methods associated with this <b>series object</b> that we haven't talked about. But with these basics down, we'll move on to talking about the Panda's two-dimensional data structure, the <b>data frame</b>. The <b>data frame</b> is very similar to the <b>series object</b>, but includes multiple columns of data, and is the structure that you'll spend the majority of your time working with when cleaning and aggregating data.

## The Data Frame Data Structure
The <b>`DataFrame`</b> data structure is the heart of the <b>`Pandas`</b> library. It's a primary object that you'll be working with in data analysis and cleaning tasks.

The <b>`DataFrame`</b> is conceptually a two-dimensional <b>series object</b>, where there's an index and multiple columns of content, with each column having a label. In fact, the distinction between a column and a row is really only a conceptual distinction. And you can think of the <b>`DataFrame`</b> itself as simply a two-axes labeled array.<br><br>
You can create a <b>`DataFrame`</b> in many different ways, some of which you might expect. For instance, you can use a group of <b>series</b>, where each series represents a row of data. Or you could use a group of <b>dictionaries</b>, where each <b>dictionary</b> represents a row of data.<br><br>
Let's take a look at an example. <br>
I'm going to create three purchase order records as <b>series objects</b> for a sort of fictional store. Each series has a name of a customer, the string which describes the item being purchased, and the cost of the items. I like dogs, so I'll purchase a bunch of dog food. Kevin Cullens Thompson, the instructor for the third course in the series, he seems more like a cat man to me, so I'll have him purchase some kitty litter. And I think Vinod, who teaches the fourth course in this series, is more of a bird man, so I'll add some bird seed there.

In [1]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

Then we'll feed this into the DataFrame as the first argument and set index values indicating which store where each purchase was done. You'll see that when we print out a DataFrame, the Jupiter notebook's trying to pretty it up a bit, and print it out as a table, which is nice.

In [ ]:
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

Similar to the series, we can extract data using the <b>`iloc`</b> and <b>`loc`</b> attributes. Because the DataFrame is two-dimensional, passing a single value to the <b>`loc`</b> <b>indexing operator</b> will return series if there's only one row to return.<br><br>
In this example, if we wanted to select data associated with Store 2, we would just query the <b>`loc`</b> attribute with one parameter.

In [ ]:
df.loc['Store 2']

You'll note that the name of the series is returned as the row index value, while the column name is included in the output as well.<br><br>
We can check the data type of the return using the python <b>`type`</b> function. It's important to remember that the indices and column names along either axes, horizontal or vertical, could be non-unique.

In [ ]:
type(df.loc['Store 2'])

For instance, in this example, we see two purchase records for Store 1 as different rows. If we use a single value with the DataFrame <b>`loc`</b> attribute, multiple rows of the <b>DataFrame</b> will return, not as a new <b>series</b>, but as a new <b>DataFrame</b>.

In [ ]:
df.loc['Store 1']

For instance, if we query for Store 1 records, we see that Chris and Kevin both shop at the same pets supply store. One of the powers of the Panda's <b>`DataFrame`</b> is that you can quickly select data based on multiple axes.<br><br>
For instance, if you wanted to just list the costs for Store 1, you would supply two parameters to <b>`.loc`</b>, one being the row index and the other being the column name. If we're only interested in Store 1 costs, we could write this as <b>`df.loc('Store 1', 'Cost')`</b>.

In [ ]:
df.loc['Store 1','Cost']

What if we just wanted to do column selection and just get a list of all of the costs? Well, there's a couple of options. First, you can get a transpose of the DataFrame, using the capital T attribute, which swaps all of the columns and rows.

In [ ]:
df.T

This essentially turns your column names into indices. And we can then use the <b>`.loc`</b> method. This works, but it's pretty ugly.

In [ ]:
df.T.loc['Cost']

Since <b>`iloc`</b> and <b>`loc`</b> are used for row selection, the Panda's developers reserved <b>indexing operator</b> directly on the <b>`DataFrame`</b> for column selection. In a Panda's <b>`DataFrame`</b>, columns always have a name. So this selection is always label based, not as confusing as it was when using the <b>`[]`</b> square bracket operator on the <b>series objects</b>. For those familiar with relational databases, this operator is analogous to column projection.<br><br>
Finally, since the result of using the indexing operators, the DataFrame or series, you can chain operations together. For instance, we could have rewritten the query for all Store 1 costs as <b>`df.loc['Store 1', 'Cost']`</b>.

In [ ]:
df.loc['Store 1']['Cost']

Here's another method. As we saw, <b>`.loc`</b> does row selection, and it can take two parameters, the row index and the list of column names. <b>`.loc`</b> also supports <b>slicing</b>. If we wanted to select all rows, we can use a column to indicate a full slice from beginning to end. And then add the column name as the second parameter as a string. In fact, if we wanted to include multiply columns, we could do so in a <b>list</b>. And Pandas will bring back only the columns we have asked for.<br><br>
Here's an example, where we ask for all of the name and cost values for all stores using the <b>`.loc`</b> operator.

In [ ]:
df.loc[:,['Name','Cost']]

So that's selecting and projecting data from a DataFrame based on row and column labels. The key concepts to remember are that the rows and columns are really just for our benefit. Underneath this is just a two axes labeled array, and transposing the columns is easy.<br><br>
Also, consider the issue of chaining carefully, and try to avoid it, it can cause unpredictable results. Where your intent was to obtain a view of the data, but instead Pandas returns to you a copy. In the Panda's world, friends don't let friends chain calls. So if you see it, point it out, and share a less ambiguous solution.<br><br>
Now, before we leave the discussion of accessing data in DataFrames, let's talk about dropping data.<br><br>
It's easy to delete data in series and DataFrames, and we can use the <b>`drop`</b> function to do so. This function takes a single parameter, which is the index or roll label, to drop. This is another tricky place for new users to pad this. The <b>`drop`</b> function doesn't change the <b>`DataFrame`</b> by default. And instead, returns to you a copy of the <b>`DataFrame`</b> with the given rows removed. We can see that our original <b>`DataFrame`</b> is still intact. Let's make a copy with the <b>`copy`</b> method and do a drop on it instead. This is a very typical pattern in Pandas, where in place changes to a DataFrame are only done if need be, usually on changes involving indices. So it's important to be aware of.

In [ ]:
df.drop('Store 1')

<b>`Drop`</b> has two interesting optional parameters. The first is called <i>in place</i>, and if it's set to <b>true</b>, the <b>`DataFrame`</b> will be updated in place, instead of a copy being returned. The second parameter is the <i>axes</i>, which should be dropped. By default, this value is 0, indicating the row axes. But you could change it to 1 if you want to drop a column.

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

There is a second way to drop a column, however. And that's directly through the use of the <b>indexing operator</b>, using the <b>`del`</b> keyword.<br><br>
This way of dropping data, however, takes immediate effect on the <b>`DataFrame`</b> and does not return a view.

In [ ]:
del copy_df['Name']
copy_df

Finally, adding a new column to the <b>`DataFrame`</b> is as easy as assigning it to some value. For instance, if we wanted to add a new location as a column with default value of none, we could do so by using the <b>`=`</b> <b>assignment operator</b> after the square brackets. This broadcasts the default value to the new column immediately.

In [ ]:
df['Location'] = None
df

## Data Frame Indexing and Loading
The common work flow is to read your data into a <b>`DataFrame`</b> then reduce this <b>`DataFrame`</b> to the particular columns or rows that you're interested in working with. As you've seen, the Panda's toolkit tries to give you views on a <b>`DataFrame`</b>. This is much faster than copying data and much more memory efficient too.

In [ ]:
costs = df['Cost']
costs

But it does mean that if you're manipulating the data you have to be aware that any changes to the <b>`DataFrame`</b> you're working on may have an impact on the base <b>`DataFrame`</b> you used originally.

In [ ]:
costs+=2
costs

Here's an example using our same purchasing <b>`DataFrame`</b> from earlier. We can create a <b>series</b> based on just the cost category using the square brackets. Then we can increase the cost in this series using <b>broadcasting</b>. Now if we look at our original <b>`DataFrame`</b>, we see those costs have risen as well.

In [ ]:
df

This is an important consideration to watch out for. If you want to explicitly use a copy, then you should consider calling the <b>`copy`</b> method on the <b>`DataFrame`</b> for it first.

In this course, we'll be largely using smaller, moderate-sized datasets. As I mentioned, a common workflow is to read the dataset in, usually from some external file. We saw previously how you can do this using Python, and lists, and dictionaries. You can imagine how you might use those dictionaries to create a Pandas DataFrame.<br><br>
Thankfully, Pandas has built-in support for delimited files such as CSV files as well as a variety of other data formats including relational databases, Excel, and HTML tables.<br><br>
I've saved a CSV file called olympics.csv, which has data from Wikipedia that contains a summary list of the medal various countries have won at the Olympics.

We can take a look at this file using the shell command cat. Which we can invoke directly using the exclamation point.<br>
<b>`!cat 'olympics.csv'`</b><br>
What happens here is that when the Jupyter notebook sees a line beginning with an exclamation mark, it sends the rest of the line to the operating system shell for evaluation. So cat works on Linux and Macs, as well as in the Coursera platform, but might not work on Windows. You don't need to worry too much about this. I just wanted to show how a Jupyter notebook can integrate with the operating system to provide you with even more tools to look at your data.
> NOTE: I could never get this to work on a windows 10 machine.  Don't think cat is a windows operating system command<br>

We see from the cat output that there seems to be a numeric list of columns followed by a bunch of column identifiers. The column identifiers have some odd looking characters in them. This is the unicode numero sign, which means number of.<br>
Then we have rows of data, all columns separated.<br>
We can read this into a DataFrame by calling the read_csv function of the module. When we look at the DataFrame we see that the first cell has an NaN in it since it's an empty value, and the rows have been automatically indexed for us.

In [2]:
inputFile = 'C:/Users/dfitzgerald/Documents/MyCourses/IntrotoDataScienceinPython/coursedownloads/olympics.csv'

In [7]:
df = pd.read_csv(inputFile)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,Summer,01 !,02 !,03 !,Total,Winter,01 !,02 !,03 !,Total,Games,01 !,02 !,03 !,Combined total
1,Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

It seems pretty clear that the first row of data in the <b>`DataFrame`</b> is what we really want to see as the column names. It also seems like the first column in the data is the country name, which we would like to make an <b>index</b>.<br>
Read csv has a number of parameters that we can use to indicate to Pandas how rows and columns should be labeled.<br>
For instance, we can use the <b>`index_col`</b> to indicate which column should be the <b>index</b> and we can also use the header parameter to indicate which row from the data file should be used as the header. Let's re-import that data and center <b>index</b> value to be 0 which is the first column and let set a column headers to be read from the second row of data. We can do this by using the <b>`skiprows`</b> parameters, to tell Pandas to ignore the first row, which was made up of numeric column names.

In [8]:
df = pd.read_csv(inputFile, index_col = 0, skiprows = 1)
df.head()

,Summer,01 !,02 !,03 !,Total,Winter,01 !.1,02 !.1,03 !.1,Total.1,Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

Now this data came from the all time Olympic games medal table on Wikipedia. If we head to the page we could see that instead of running gold, silver and bronze in the pages, these nice little icons with a one, a two, and a three in them In our csv file these were represented with the strings 01 !, 02 !, and so on. We see that the column values are repeated which really isn't good practice. Panda's recognize this in a panda.1 and .2 to make things more unique.<br>
But this labeling isn't really as clear as it could be, so we should clean up the data file. We can of course do this just by going and editing the CSV file directly, but we can also set the column names using the Pandas <b>`name`</b>
property.<br><br>
Panda stores a list of all of the columns in the <b>`.`</b>columns attribute. We can change the values of the column names by iterating over this list and calling the <b>`rename`</b> method of the <b>`DataFrame`</b>. Now, I'm going to copy and paste this in to speed up things but we can walk through what is going on here.<br><br>
Here we just iterate through all of the columns looking to see if they start with a 01, 02, 03 or numeric character. If they do, we can call <b>`rename`</b> and set the column parameters to a <b>dictionary</b> with the <b>keys</b> being the column we want to replace and the <b>value</b> being the new value we want.<br><br>
Here we'll slice some of the old values in two, since we don't want to lose the unique appended values. We'll also set the ever-important <b>`inplace`</b> parameter to <b>true</b> so Pandas knows to update this <b>`dataframe`</b> directly.

In [9]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

All right, that's more on the <b>`dataframe`</b> with a focus on the workflow of actually getting data in and into a place where we might want to query it.

## Querying a Data Frame
Before we talk about how to query data frames, we need to talk about Boolean masking. Boolean masking is the heart of fast and efficient querying in NumPy. It's analogous a bit to masking used in other computational areas.

A <b>Boolean mask</b> is an array which can be of one dimension like a series, or two dimensions like a data frame, where each of the values in the array are either true or false. This array is essentially overlaid on top of the data structure that we're querying. And any cell aligned with the true value will be admitted into our final result, and any sign aligned with a false value will not.<br><br>
<b>Boolean mask</b>ing is powerful conceptually and is the cornerstone of efficient NumPy and pandas querying. This technique is well used in other areas of computer science, for instance, in graphics. But it doesn't really have an analogue in other traditional relational databases, so I think it's worth pointing out here. <b>Boolean mask</b>s are created by applying <b>operators</b> directly to the <b>`pandas`</b> series or <b>`DataFrame`</b> objects.<br><br> For instance, in our Olympics data set, you might be interested in seeing only those countries who have achieved a gold medal at the summer Olympics. To build a <b>Boolean mask</b> for this query, we project the gold column using the indexing operator and apply the greater than operator with a comparison value of zero.

In [6]:
df['Gold']>0

KeyError: 'Gold'

This is essentially broadcasting a comparison operator, <b>`>`</b> greater than, with the results being returned as a Boolean series. The resultant series is indexed where the value of each cell is either true or false depending on whether a country has won at least one gold medal, and the index is the country name.<br><br>
So this builds us the Boolean mask, which is half the battle. What we want to do next is overlay that mask on the data frame. We can do this using the where function. The where function takes a Boolean mask as a condition, applies it to the data frame or series, and returns a new data frame or series of the same shape. Let's apply this Boolean mask to our Olympics data and create a data frame of only those countries who have won a gold at a summer games.

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

We see that the resulting data frame keeps the original indexed values, and only data from countries that met the condition are retained. All of the countries which did not meet the condition have NaN data instead. This is okay. Most statistical functions built into the data frame object ignore values of NaN.<br><br>
For instance, if we call the df.count on the only gold data frame, we see that there are 100 countries which have had gold medals awarded at the summer games, while if we call count on the original data frame, we see that there are 147 countries total.

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

Often we want to drop those rows which have no data. To do this, we can use the drop NA function. You can optionally provide drop NA the axes it should be considering. Remember that the axes is just an indicator for the columns or rows and that the default is zero, which means rows.

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

When you find yourself talking about pandas and saying phrases like, often I want to, it's quite likely the developers have included a shortcut for this common operation. For instance, in this example, we don't actually have to use the where function explicitly. The pandas developers allow the indexing operator to take a Boolean mask as a value instead of just a list of column names. The syntax might look a little messy, especially if you're not used to programming languages with overloaded operators, but the result is that you're able to filter and reduce data frames relatively quickly.<br><br>
Here's a more concise example of how we could query this data frame. You'll notice that there are no NaNs when you query the data frame in this manner. pandas automatically filters out the rows with NaN values.

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

One more thing to keep in mind if you're not used to Boolean or bit masking for data reduction. The output of two Boolean masks being compared with logical operators is another Boolean mask. This means that you can chain together a bunch of and/or statements in order to create more complex queries, and the result is a single Boolean mask.<br><br>
For instance, we could create a mask for all of those countries who have received a gold in the summer Olympics and logically order that with all of those countries who have received a gold in the winter Olympics. If we apply this to the data frame and use the length function to see how many rows there are, we see that there are 101 countries which have won a gold metal at some time.

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

Another example for fun. Have there been any countries who have only won a gold in the winter Olympics and never in the summer Olympics? Here's one way to answer that.

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

Poor Liechtenstein. Thankfully the Olympics come every four years. I know who I'll be cheering for in 2020 to win their first summer gold.<br><br>
Extremely important, and often an issue for new users, is to remember that each Boolean mask needs to be encased in parenthesis because of the order of operations. This can cause no end of frustration if you're not used to it, so be careful.<br><br>
In this lecture, we took a look at Boolean masking. We didn't have much code to write, but applying masks to data frames is really a core panda's work flow and is worth practicing.

## Indexing Dataframes
As we've seen, both series and DataFrames can have indices applied to them. The index is essentially a row level label, and we know that rows correspond to axis zero. In our Olympics data, we indexed the data frame by the name of the country. Indices can either be inferred, such as when we create a new series without an index, in which case we get numeric values, or they can be set explicitly, like when we use the dictionary object to create the series, or when we loaded data from the CSV file and specified the header. Another option for setting an index is to use the set_index function. This function takes a list of columns and promotes those columns to an index. Set index is a destructive process, it doesn't keep the current index. If you want to keep the current index, you need to manually create a new column and copy into it values from the index attribute. Let's go back to our Olympics DataFrame. Let's say that we don't want to index the DataFrame by countries, but instead want to index by the number of gold medals that were won at summer games. First we need to preserve the country information into a new column. We can do this using the indexing operator or the string that has the column label. Then we can use the set_index to set index of the column to summer gold medal wins.

In [10]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

You'll see that when we create a new index from an existing column it appears that a new first row has been added with empty values. This isn't quite what's happening. And we know this in part because an empty value is actually rendered either as a none or an NaN if the data type of the column is numeric. What's actually happened is that the index has a name. Whatever the column name was in the Jupiter notebook has just provided this in the output.

In [11]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan(AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria(ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina(ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia(ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia(ANZ) [ANZ]

We can get rid of the index completely by calling the function reset_index. This promotes the index into a column and creates a default numbered index.

In [ ]:
df = df.reset_index()
df.head()

One nice feature of pandas is that it has the option to do multi-level indexing. This is similar to composite keys in relational database systems. To create a multi-level index, we simply call set index and give it a list of columns that we're interested in promoting to an index.

In [34]:
inputFile = 'C:/Users/dfitzgerald/Documents/MyCourses/IntrotoDataScienceinPython/coursedownloads/census.csv'


df = pd.read_csv(inputFile)
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

Pandas will search through these in order, finding the distinct data and forming composite indices. A good example of this is often found when dealing with geographical data which is sorted by regions or demographics. Let's change data sets and look at some census data for a better example. This data is stored in the file census.csv and comes from the United States Census Bureau. In particular, this is a breakdown of the population level data at the US county level. It's a great example of how different kinds of data sets might be formatted when you're trying to clean them. For instance, in this data set there are two summarized levels, one that contains summary data for the whole country. And one that contains summary data for each state, and one that contains summary data for each county. I often find that I want to see a list of all the unique values in a given column. In this DataFrame, we see that the possible values for the sum level are using the unique function on the DataFrame. This is similar to the SQL distinct operator.<br><br>
Here we can run <b>`unique`</b> on the sum level of our current <b>`DataFrame`</b>and see that there are only two different values, 40 and 50.

In [35]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

Let's get rid of all of the rows that are summaries at the state level and just keep the county data. Also while this data set is interesting for a number of different reasons, let's reduce the data that we're going to look at to just the total population estimates and the total number of births. We can do this by creating a list of column names that we want to keep then project those and assign the resulting DataFrame to our df variable. The US Census data breaks down estimates of population data by state and county. We can load the data and set the index to be a combination of the state and county values and see how pandas handles it in a DataFrame. We do this by creating a list of the column identifiers we want to have indexed. And then calling set index with this list and assigning the output as appropriate. We see here that we have a dual index, first the state name and then the county name.

In [36]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [37]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

An immediate question which comes up is how we can query this DataFrame. For instance, we saw previously that the loc attribute of the DataFrame can take multiple arguments. And it could query both the row and the columns. When you use a MultiIndex, you must provide the arguments in order by the level you wish to query.

In [38]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

Inside of the index, each column is called a level and the outermost column is level zero. For instance, if we want to see the population results from Washtenaw County, which is where I live, you'd want to the first argument as the state of Michigan. You might be interested in just comparing two counties. For instance, Washtenaw where I live and Wayne County which covers Detroit. To do this, we can pass the loc method, a list of tuples which describe the indices we wish to query. Since we have a MultiIndex of two values, the state and the county, we need to provide two values as each element of our filtering list.

In [39]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [66]:
df.groupby(level='STNAME').count()

ValueError: level name STNAME is not the name of the index

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

Okay so that's how hierarchical indices work in a nutshell. They're a special part of the pandas library which I think can make management and reasoning about data easier. Of course hierarchical labeling isn't just for rows. For example, you can transpose this matrix and now have hierarchical column labels. And projecting a single column which has these labels works exactly the way you would expect it to.

## Missing Values
We're going to end this week of lecture with a quick discussion of missing values. We've seen a preview of how Pandas handles missing values using the None type and NumPy NaN values. Missing values are pretty common in data cleaning activities. There are couple of caveats and discussion points which we should address.

In [ ]:
inputFile = 'C:/Users/dfitzgerald/Documents/MyCourses/IntrotoDataScienceinPython/coursedownloads/log.csv'

df = pd.read_csv(inputFile)
df

First, the built in loading from delimited files provides control for missing values in a few ways. The most germane of these, is the na_values list, to indicate other strings which could refer to missing values. Some of my sociologist colleagues for instance, regularly use the value of 99 in binary categories to indicate that there's no value. So this comes in handy. You can also use the na_filter option to turn off white space filtering, if white space is an actual value of interest. But in practice, this is pretty rare. In addition to rules controlling how missing values might be loaded, it's sometimes useful to consider missing values as actually having information. I'll give an example from my own research. I often deal with logs from online learning systems. In particular, I've done a couple of projects looking at video use in lecture capture systems. In these systems it's common for the player for have a heartbeat functionality where playback statistics are sent to the server every so often, maybe every 30 seconds.

In [ ]:
df.fillna?

These heartbeats can get big as they can carry the whole state of the playback system, such as where the video play head is at, where the video size is, which video is being rendered to the screen, how loud the volume is, etc.<br><br>
If we load the data file log.txt, we can see an example of what this might look like. In this data the first column is a timestamp in the Unix epoch format. The next column is the user name followed by a web page they're visiting and the video that they're playing.<br><br>
Each row of the DataFrame has a playback position. And we can see that as the playback position increases by one, the time stamp increases by about 30 seconds.
Except for user Bob. It turns out that Bob has paused his playback so as time increases the playback position doesn't change. Note too how difficult it is for us to try and derive this knowledge from the data, because it's not sorted by time stamp as one might expect. This is actually not uncommon on systems which have a high degree of parallelism.
There are a lot of missing values in the paused and volume columns. It's not efficient to send this information across the network if it hasn't changed. So this particular system just inserts null values into the database if there's no changes.
One of the handy functions that Pandas has for working with missing values is the filling function, fillna. This function takes a number or parameters, for instance, you could pass in a single value which is called a scalar value to change all of the missing data to one value. This isn't really applicable in this case, but it's a pretty common use case. Next up though is the method parameter. The two common fill values are ffill and bfill. ffill is for forward filling and it updates an na value for a particular cell with the value from the previous row. It's important to note that your data needs to be sorted in order for this to have the effect you might want. Data that comes from traditional database management systems usually has no order guarantee, just like this data. So be careful.
Start transcript at 
In Pandas we can sort either by index or by values. Here we'll just promote the time stamp to an index then sort on the index.

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

If we look closely at the output though we'll notice that the index isn't really unique. Two users seem to be able to use the system at the same time. Again, a very common case.

Let's reset the index, and use some multi-level indexing instead, and promote the user name to a second level of the index to deal with that issue.

Now that we have the data indexed and sorted appropriately, we can fill the missing datas using ffill. It's good to remember when dealing with missing values so you can deal with individual columns or sets of columns by projecting them just as we spoke about earlier. So you don't have to fix all missing values in one command.

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

It's sometimes useful to use forward filling, sometimes backwards filling, and sometimes useful to just use a single number. More recently, the Pandas team introduced a method of filling missing values with a series which is the same length as your DataFrame. This makes it easy to derive values which are missing if you have the underlying to do so. For instance, if you're dealing with receipts and you have a column for final price and a column for discount but are missing information from the original price column, you can fill this automatically using fillna.

In [ ]:
df = df.fillna(method='ffill')
df.head()

One last note on missing values. When you use statistical functions on DataFrames, these functions typically ignore missing values. For instance if you try and calculate the mean value of a DataFrame, the underlying NumPy function will ignore missing values. This is usually what you want but you should be aware that values are being excluded.

## Assignment 2
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [183]:
import pandas as pd
inputFile = 'C:/Users/dfitzgerald/Documents/MyCourses/IntrotoDataScienceinPython/coursedownloads/olympics.csv'

df = pd.read_csv(inputFile, index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

Question 1
Which country has won the most gold medals in summer games?

This function should return a single string value.

In [190]:
df[df['Gold'].max()]

KeyError: 976

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [61]:
(df['Gold'] - df['Gold.1']).abs().idxmax()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [157]:
criteria = df[(df['Gold.1'] > 0) & (df['Gold'] > 0)]
country = ((criteria['Gold'] - criteria['Gold.1'])/criteria['Gold.2']).abs().idxmax()
country

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [161]:
res = (df['Gold.2']*3)+(df['Silver.2']*2)+(df['Bronze.2'])
res.name = 'Points'
res

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

In [ ]:
points

In [ ]:
len(points)

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

In [162]:
inputFile = 'C:/Users/dfitzgerald/Documents/MyCourses/IntrotoDataScienceinPython/coursedownloads/census.csv'
census_df = pd.read_csv(inputFile)
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [106]:
def answer_five():
    mydf=census_df[census_df['SUMLEV'] == 50]
    mydf = mydf.groupby('STNAME').count()['SUMLEV']
    return mydf[mydf==mydf.max()].index.values[0]

In [105]:
res = census_df[census_df['SUMLEV'] == 50]
res = res.groupby('STNAME').count()['SUMLEV']
res[res==res.max()].index.values[0]

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [137]:
mydf=census_df[['SUMLEV','STNAME','CENSUS2010POP']]
mydf=mydf[mydf['SUMLEV']==50]
mydf=mydf.sort_values(by=['STNAME','CENSUS2010POP'], ascending=[True,False])
mydf=mydf.groupby('STNAME').head(3)
mydf=mydf.groupby('STNAME').sum()
mydf=mydf.nlargest(3,'CENSUS2010POP')
list(mydf.index.values)

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [149]:
import numpy as np
mydf=census_df[census_df['SUMLEV']==50]
mydf=mydf[['CTYNAME','POPESTIMATE2010', 'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
mydf
max_pop=map(max,mydf['POPESTIMATE2010'],mydf['POPESTIMATE2011'],mydf['POPESTIMATE2012'],mydf['POPESTIMATE2013'],mydf['POPESTIMATE2014'],mydf['POPESTIMATE2015'])
max_pop=np.array(list(max_pop))
min_pop=map(min,mydf['POPESTIMATE2010'],mydf['POPESTIMATE2011'],mydf['POPESTIMATE2012'],mydf['POPESTIMATE2013'],mydf['POPESTIMATE2014'],mydf['POPESTIMATE2015'])
min_pop=np.array(list(min_pop))
chg=max_pop-min_pop
mydf.iloc[chg.argmax()].values[0]

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [154]:
mydf = census_df[(census_df['SUMLEV']==50) & (census_df['REGION']<=2) & (census_df['CTYNAME'].str.match('^Washington')) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])]
mydf[['STNAME','CTYNAME']].sort_index()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County