# Python for Data Analysis - Wes McKinney
## 5.1 Introduction to Pandas
To get started with pandas, you will need to get comfortable with its two workhorse data structures: Series and DataFrame. While they are not a universal solution for every problem, they provide a solid, easy-to-use basis for most applications.

McKinney, Wes. Python for Data Analysis (Kindle Locations 4225-4228). O'Reilly Media. Kindle Edition.

### Series
A <b>`Series`</b> is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its <b>index</b>. The simplest Series is formed from only an array of data:

In [1]:
import pandas as pd

In [3]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

The string representation of a Series displayed interactively shows the index on the left and the values on the right. Since we did not specify an <b>index</b> for the data, a default one consisting of the integers 0 through N - 1 (where N is the length of the data) is created. You can get the array representation and index object of the Series via its <b>`values`</b> and <b>`index`</b> attributes, respectively:

In [4]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

Compared with NumPy arrays, you can use labels in the index when selecting single values or a set of values:

In [14]:
obj2['a']

-5

In [12]:
obj2['d']

4

In [15]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

Here [' c', 'a', 'd'] is interpreted as a list of indices, even though it contains strings instead of integers. Using NumPy functions or NumPy-like operations, such as filtering with a boolean array, scalar multiplication, or applying

In [16]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [17]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [18]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [20]:
import numpy as np

In [21]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values. It can be used in many contexts where you might use a <b>`dict`</b>

In [22]:
'b' in obj2

True

In [23]:
'e' in obj2

False

Should you have data contained in a Python <b>`dict`</b>, you can create a Series from it by passing the <b>`dict`</b>:

In [34]:
sdata = {'Oregon': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [37]:
obj3 = pd.Series(sdata)

In [38]:
obj3

Oregon    16000
Texas     71000
Utah       5000
dtype: int64